/* --- Estilos del Layout (Los mismos de antes) --- */
.body-component {
  display: flex;
  flex: 1; 
  color: white; /* Color por defecto para la sidebar */
}

.sidebar {
  background-color: #4a4a4a; /* Un gris oscuro para el sidebar */
  padding: 1.5rem;
  flex: 1;
  text-align: left;
  /* Hacemos que el sidebar se desplace si el contenido es largo */
  overflow-y: auto; 
}

.content {
  background-color: #f8f9fa; /* Un fondo gris claro de Bootstrap */
  padding: 1.5rem;
  flex: 3;
  text-align: left;
  color: #212529; /* Texto oscuro estándar */
  overflow-y: auto; /* Permite scroll en el contenido */
}

/* --- Nuevos Estilos para Widgets y Vídeo --- */

.widget {
  margin-bottom: 2rem;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Proporción 16:9 */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*
 * Estilos para la galería de imágenes cuadradas
*/

.content .carousel-caption {
  color: #212529; /* Color de texto oscuro */
  
  /* Añadimos un fondo semi-transparente para mejorar la legibilidad del texto sobre cualquier imagen */
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 2rem;
}

.content .carousel-caption h3 {
  color: #000;
  font-weight: bold;
}