.footer-component {
  background-color: #343a40; /* Color oscuro de Bootstrap */
  color: #f8f9fa; /* Texto claro */
  padding: 2rem;
}

.footer-component p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
}

.social-icons a {
  color: white;
  font-size: 2rem; /* Tamaño de los iconos */
  margin-right: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0d6efd; /* Color primario de Bootstrap al pasar el ratón */
}